<div class="container">

  <!-- 💖 Shadow Card -->
  <div class="valentine-card">

    <!-- 🧸 Teddy GIF -->
    <img
      src="assets/images/letter.gif"
      alt="Cute Teddy"
      class="teddy-gif"
    />

    <h2>A Letter For You 🥺</h2>

    <p>
      Dear yfy 💖,<br><br>
      You are my favorite thought,
      my calm in chaos,
      and the reason my days feel brighter.<br><br>

      Loving you is the easiest
      and most beautiful thing
      I’ve ever done ❤️<br><br>

      Forever yours.
    </p>

    <button routerLink="/quiz">Next 💌</button>

  </div>
</div>
