<div class="container">

  <!-- 💖 Shadow Card -->
  <div class="valentine-card">

    <!-- 🧸 Teddy GIF -->
    <img src="assets/images/final.gif" alt="Cute Teddy" class="teddy-gif" />

    <h1>Happy Valentine’s Day 💍</h1>

    <h1>Nehu ❤️</h1>

    <p>
      You are my today,
      my tomorrow,
      and every dream
      I never knew I had 💖<br><br>

      Loving you
      is my favorite thing
      in this world 💫
    </p>
    <p class="sorry-note">
      I know I’ve made mistakes before,
      and for every moment I hurt you,
      I’m truly sorry.
      Please forgive me —
      my heart has always chosen you ❤️
    </p>
    <h2>I love you 💋💋💋</h2>


    <button routerLink="/gifts">Open Gifts 🎁</button>

  </div>
</div>